defaults:
  data_source: &e2e_fastsrb_source
    type: fastsrb
    benchmark_path: "{{ROOT}}/data/ansr-data/test_set/fastsrb/expressions.yaml"
    datasets_per_expression: 10
    support_points: 512
    sample_points: 1024
    method: random
    max_trials: 100
    incremental: false
    random_state: 42
    noise_level: 0.0
  model_adapter: &e2e_adapter
    type: e2e
    model_path: "{{ROOT}}/models/e2e/model1.pt"
    simplipy_engine: "dev_7-3"
    device: cuda
    candidates_per_bag: 1
    max_input_points: 200
    max_number_bags: 100
    n_trees_to_refine: 10
    rescale: true
  runner: &e2e_fastsrb_runner
    limit: null
    save_every: 16
    resume: true

experiments:
  e2e_fastsrb_candidates_00001:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 1
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00001.pkl"

  e2e_fastsrb_candidates_00002:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 2
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00002.pkl"

  e2e_fastsrb_candidates_00004:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 4
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00004.pkl"

  e2e_fastsrb_candidates_00008:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 8
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00008.pkl"

  e2e_fastsrb_candidates_00016:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 16
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00016.pkl"

  e2e_fastsrb_candidates_00032:
    run:
      data_source: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 32
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00032.pkl"

  e2e_fastsrb_candidates_00064:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 64
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00064.pkl"

  e2e_fastsrb_candidates_00128:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 128
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00128.pkl"

  e2e_fastsrb_candidates_00256:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 256
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00256.pkl"

  e2e_fastsrb_candidates_00512:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 512
        max_generated_output_len: 195
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_00512.pkl"

  e2e_fastsrb_candidates_01024:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 1024
        max_generated_output_len: 97
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_01024.pkl"

  e2e_fastsrb_candidates_02048:
    run:
      data_source:
        <<: *e2e_fastsrb_source
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 2048
        max_generated_output_len: 48
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_02048.pkl"

  e2e_fastsrb_candidates_08192:
    run:
      data_source:
        <<: *e2e_fastsrb_source
        datasets_per_expression: 5
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 8192
        max_generated_output_len: 12
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_08192.pkl"

  e2e_fastsrb_candidates_32768:
    run:
      data_source:
        <<: *e2e_fastsrb_source
        datasets_per_expression: 5
      model_adapter:
        <<: *e2e_adapter
        candidates_per_bag: 32768
        max_generated_output_len: 3
      runner:
        <<: *e2e_fastsrb_runner
        output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_32768.pkl"

  # e2e_fastsrb_candidates_131072:
  #   run:
  #     data_source:
  #       <<: *e2e_fastsrb_source
  #       datasets_per_expression: 1
  #     model_adapter:
  #       <<: *e2e_adapter
  #       candidates_per_bag: 131072
  #     runner:
  #       <<: *e2e_fastsrb_runner
  #       output: "{{ROOT}}/results/evaluation/scaling/e2e/fastsrb/candidates_per_bag_131072.pkl"