on:
  push:
    branches: main
  pull_request:
name: quality checks

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: "3.12"
    - uses: pre-commit/action@v3.0.0
